.site-footer {
  background-color: #101010;
  color: #fff;
  padding: 2rem 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 2px solid #111;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  max-width: 1200px;
  flex-wrap: wrap;
}

.footer-left h3 {
  margin-bottom: 1rem;
  color: #fff;
  font-size: 1rem;
}

.social-icons {
  display: flex;
  gap: 1rem;
}

.social-icons a {
  color: #F860D2;
  font-size: 1.5rem;
  transition: transform 0.3s ease, color 0.3s ease;
}

.social-icons a:hover {
  color: #ff33cc;
  transform: scale(1.2);
}

.footer-right {
  text-align: right;
  font-size: 0.9rem;
}

.footer-right a {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s;
}

.footer-right a:hover {
  color: #F860D2;
}