/* === GLOBAL === */
html, body {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  color: #fff;
  background: linear-gradient(180deg, #0D0D0D 0%, #1B1F2A 100%);
  background-attachment: fixed;
  height: 100%;
  display: flex;
  flex-direction: column;
  margin: 0 !important;
  padding: 0 !important;
}

/* Contenido principal ocupa todo el espacio restante */
main {
  flex: 1;
}
