/* === RESPONSIVE === */
@media (max-width: 900px) {
  .historia-container,
  .versiones-grid {
    flex-direction: column;
    align-items: center;
  }

  .historia-col,
  .version-card {
    width: 90%;
  }

  .site-nav ul {
    gap: 2rem;
  }

  .titulo-principal h1 {
    font-size: 3.5rem;
  }
}
